.modal_loger,
.modal_loger_login,
.modal_loger_register {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row-reverse;

    .button_enter,
    .button_sign {
        background: #F4ADBD;
        cursor: pointer;
        color: #6C0820;
        font-weight: bold;
        width: 90px;
        padding: 20px;
        margin: 10px;
        justify-content: center;
        transition: 0.5s;
    }

    .button_enter {
        padding: 10px;
    }

    h2 {
        font-size: 40px !important;
        margin: 0;
    }
}



.log_section {
    background: white;
    padding: 30px;
    border-radius: 10px;
    position: relative;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}

.closer:hover {
    background-color: #f4dcdc36 !important;
}

.inputs {
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: 0.2s;
    background-color: #5B86CB;
    margin: 0 10px;
    color: #F4DCDC;
    font-weight: bold;
    width: 250px;
}

.phone {
    margin: 0 20px 0 0;
}

.inputs:focus {
    border-color: rgb(93, 159, 188);
}

.inputs::placeholder {
    color: rgba(210, 215, 169, 0.545);
}

.input_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h4 {
        font-family: '';
        font-size: 17px;
        padding-bottom: 15px;
    }
}

.button_enter:hover,
.button_sign:hover {
    background: #6C0820 !important;
    color: #F4ADBD;
}

.button_sign {
    margin: 0;
    padding: 10px !important;
    width: auto !important;
}