main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    flex: 1;
}

h2 {
    font-size: 25px;
}

.logotype {
    width: 150px;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.sub_info_text {
    font-size: 18px;
}

.logotype img {
    width: 100%;
    object-fit: cover;
    display: block;
}


.logotype {
    position: relative;
}

.logotype:hover {
    opacity: 1;
    box-shadow: 0 0 7px #3E5D93cc;
    background-color: #3E5D933c;
    border-radius: 30px;
    font-size: 10px;
}

.publishers_page {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    background-color: #F4ADBD;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.child-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;

    .noticers {
        align-items: flex-start;
    }

    .search-wrapper {
        width: 90%;
    }

    .search-box.open {
        width: 30%;
    }
}